# Ignore CodeIgniter Cache and Logs
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html

# Ignore user uploads (so you don't overwrite live uploads)
uploads/

# Ignore database config if you have different local/live databases


# Ignore addons
/addons/
backup/database_backup/
