-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: smserp
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `pre_rules`
--

DROP TABLE IF EXISTS `pre_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_rules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_group_id` int NOT NULL,
  `name` varchar(200) NOT NULL,
  `code` varchar(100) NOT NULL,
  `description` text,
  `rule_type` enum('earning','deduction','adjustment','calculation','validation') NOT NULL DEFAULT 'calculation',
  `applies_to` varchar(500) DEFAULT NULL COMMENT 'JSON: role_ids, department_ids, designation_ids, or null=all',
  `priority` int NOT NULL DEFAULT '100' COMMENT 'Lower number = higher priority',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `effective_from` date DEFAULT NULL,
  `effective_to` date DEFAULT NULL,
  `version` int NOT NULL DEFAULT '1',
  `parent_rule_id` int DEFAULT NULL COMMENT 'For versioning: points to original rule',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_rule_group` (`rule_group_id`),
  KEY `idx_priority` (`priority`),
  KEY `idx_active_effective` (`is_active`,`effective_from`,`effective_to`),
  CONSTRAINT `fk_pre_rules_group` FOREIGN KEY (`rule_group_id`) REFERENCES `pre_rule_groups` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_rules`
--

LOCK TABLES `pre_rules` WRITE;
/*!40000 ALTER TABLE `pre_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_rule_conditions`
--

DROP TABLE IF EXISTS `pre_rule_conditions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_rule_conditions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_id` int NOT NULL,
  `condition_group` int NOT NULL DEFAULT '1' COMMENT 'AND within group, OR across groups',
  `field` varchar(100) NOT NULL COMMENT 'e.g. attendance_percentage, late_count, basic_salary, role_id',
  `operator` enum('eq','neq','gt','gte','lt','lte','between','in','not_in','is_null','is_not_null') NOT NULL,
  `value` varchar(500) NOT NULL COMMENT 'Single value or JSON array for in/between',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_rule` (`rule_id`),
  CONSTRAINT `fk_pre_conditions_rule` FOREIGN KEY (`rule_id`) REFERENCES `pre_rules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_rule_conditions`
--

LOCK TABLES `pre_rule_conditions` WRITE;
/*!40000 ALTER TABLE `pre_rule_conditions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_rule_conditions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_rule_actions`
--

DROP TABLE IF EXISTS `pre_rule_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_rule_actions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_id` int NOT NULL,
  `action_type` enum('add_paid_days','deduct_paid_days','percentage_deduction','fixed_deduction','percentage_addition','fixed_addition','set_value','multiply_value','add_allowance','add_deduction','statutory_pf','statutory_esi','statutory_tds','overtime_pay','salary_adjustment') NOT NULL,
  `target_field` varchar(100) NOT NULL COMMENT 'e.g. paid_days, basic, net_salary, hra, pf_amount',
  `value` varchar(500) NOT NULL COMMENT 'Amount, percentage, or formula reference',
  `value_type` enum('fixed','percentage','formula','reference') NOT NULL DEFAULT 'fixed',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_rule` (`rule_id`),
  CONSTRAINT `fk_pre_actions_rule` FOREIGN KEY (`rule_id`) REFERENCES `pre_rules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_rule_actions`
--

LOCK TABLES `pre_rule_actions` WRITE;
/*!40000 ALTER TABLE `pre_rule_actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_rule_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_rule_groups`
--

DROP TABLE IF EXISTS `pre_rule_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_rule_groups` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `code` varchar(50) NOT NULL,
  `description` text,
  `execution_order` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_rule_groups`
--

LOCK TABLES `pre_rule_groups` WRITE;
/*!40000 ALTER TABLE `pre_rule_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_rule_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pre_rule_versions`
--

DROP TABLE IF EXISTS `pre_rule_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pre_rule_versions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `rule_id` int NOT NULL,
  `version` int NOT NULL,
  `rule_snapshot` text NOT NULL COMMENT 'Full JSON snapshot of rule + conditions + actions',
  `change_reason` text,
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_rule_version` (`rule_id`,`version`),
  CONSTRAINT `fk_pre_versions_rule` FOREIGN KEY (`rule_id`) REFERENCES `pre_rules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pre_rule_versions`
--

LOCK TABLES `pre_rule_versions` WRITE;
/*!40000 ALTER TABLE `pre_rule_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `pre_rule_versions` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-12 15:42:18
